[Service]
Type=simple
WorkingDirectory=xxxxx
ExecStart=/usr/bin/python3 xxxxx/fix_epg1.py
User=xxxxx
# This ensures it closes instantly when you tell it to stop
KillSignal=SIGINT
