[Service]
Type=simple
WorkingDirectory=/mnt/data/FIX-EPG-TITLE/
ExecStart=/usr/bin/python3 /mnt/data/FIX-EPG-TITLE/fix_epg1.py
User=jerry
# This ensures it closes instantly when you tell it to stop
KillSignal=SIGINT
